<a
  href="/"
  rel="noreferrer noopener"
  id="animatedButton"
  class="fixed bottom-4 right-4 z-50 inline-flex items-center justify-center rounded-full bg-gray-900 p-3 text-white shadow-lg transition-transform duration-300 ease-out hover:scale-110 active:scale-95"
>
  <div
    class="absolute top-0 left-0 w-full h-full rounded-full bg-gradient-to-r from-purple-500 to-blue-500 opacity-50 transition-opacity duration-300 hover:opacity-75"
  >
  </div>
  <div class="relative z-20 font-bold">FrontierUX</div>
</a>

<script is:inline>
  const button = document.getElementById("animatedButton");

  button.addEventListener("click", () => {
    button.classList.add("animate-bounce");
    setTimeout(() => {
      button.classList.remove("animate-bounce");
    }, 1000); // Dura lo mismo que la animación bounce
  });
</script>
